<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Benecol </string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>benecol_flutter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>App needs to play music</string>
	<key>NSCameraUsageDescription</key>
	<string>App need to access camera when you would like to take invoice photo while you applying member points.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Turning on the location services allows us to recommend you the nearest stores that provide Benecol's products.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Turning on the location services allows us to recommend you the nearest stores that provide Benecol's products.</string>
	<key>NSLocationUsageDescription</key>
	<string>Turning on the location services allows us to recommend you the nearest stores that provide Benecol's products.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Turning on the location services allows us to recommend you the nearest stores that provide Benecol's products.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App needs to read you photo library when you try to upload purchase invoice</string>
	<key>PermissionGroupNotification</key>
	<string>App needs notification permission to send you membership message or latest news</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
